.container {
  display: grid;
  grid-template-columns: 300px 150px 100px;
  grid-template-rows: 100px 100px;
  grid-gap: 3px;
  text-align: center;
}
.col-1 {
  background-color: rgb(228, 81, 13);

}
.col-2 {
  background-color: rgb(200, 139, 35);
  
}
.col-3 {
  background-color: green;
  
}
.col-4 {
  background-color: rgb(55, 127, 172);
  
}
.col-5 {
  background-color: rgb(55, 127, 172);
  
}

