.container {
  display: grid;
  grid-template-columns: 300px 150px ;
  grid-template-rows: 100px;
  grid-gap: 3px;
  text-align: center;
  width: 60%;
  height: 70vh;
  margin-left: 25%;
  margin-top: 5%;
  background-color: rgba(7, 3, 1, 0.868);
}
.inner-container {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 3px;
}
.col-1 {
  background-color: rgb(228, 81, 13);

}
.col-2 {
  background-color: rgb(200, 139, 35);
  
}
.col-3 {
  background-color: green;
  
}
.col-4 {
  background-color: rgb(55, 127, 172);
  
}
.col-5 {
  background-color: rgb(55, 127, 172);
  
}

