.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px;
  grid-gap: 5px;
  text-align: center;
  width: 60%;
  height: 70vh;
  margin-left: 25%;
  margin-top: 5%;
  background-color: rgba(7, 3, 1, 0.868);
}
.inner-container {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 5px;
}
.col-1 {
  background-color: rgb(228, 81, 13);

}
.col-2 {
  background-color: rgb(200, 139, 35);
  
}
.col-3 {
  background-color: green;
  grid-column: 1 / 2;
  grid-row: 2/4;
  
 
}
.col-4 {
  background-color: rgb(55, 127, 172);
  grid-column: 1.5 / 3;
 
 
  
  
}
.col-5 {
  background-color: rgb(55, 127, 172);
  grid-column: 2/ 3;
 
  
}